<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = 'ユーザー一覧', scripts = ~{::script}, links = ~{::link})">
  <link rel="stylesheet" href="userList.css">
</head>

<body>
  <header>
    <img src="img/yib.png" width="1400px" height="150px" alt="">
  </header>

  <div class="contents">
    <table class="yi-table">
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>名前</th>
          <th>フリガナ</th>
          <th>メールアドレス</th>
          <th>パスワード</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="user : ${userlist}" th:object="${user}" class="align-middle">
          <td class="*{user_id}"></td>
          <td class="*{name}"></td>
          <td class="*{furigana}"></td>
          <td class="*{mail}"></td>
          <td class="*{password}"></td>
          <td id="not_background-color" class="button"><a href="userEditDelete" class="btn-text">編集</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="bb">
      <div button="buttun"><a href="myPage.html" class="btn-text">戻る</a></div>
    </div>
</body>

</html>