<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <link hlef="../../css/myPage.css" href="@{/src/main/resources/static/css/myPage.css}" rel="stylesheet">

<body>
  <div class="contents">
  <div class="mypage">
      <a href="goingRegister.html" class="btn-text">出勤登録</a>
      <a href="leavingRegister.html" class="button">勤怠登録</a>
      <a href="attendanceList.html" class="btn-text">勤怠一覧</a>
      <a href="expenseRegister.html" class="button">経費申請</a>
      <a href="userList.html" class="btn-text">ユーザー一覧</a>
      <a href="userRegister.html" class="button">ユーザー登録</a>
    </div>
</body>
</html>